
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="container_fullwidth">
    <div class="container">
        <h4 style="font-weight: 800">Chính sách đổi trả hàng</h4>
        <div style="font-size: 16px; font-family: Helvetica; line-height:20px; margin-bottom: 100px">
            <br />
            1. Chính sách đổi hàng:
            <br />
            <br />
            Phượt Bụi Store chúng tôi cam kết 1 đổi 1 đối với những những trường hợp nhận hàng không đúng như mô tả trên web hoặc sản phẩm bị lỗi.
            <br />
            <br />
            Yêu cầu đổi trả phải có đầy đủ hóa đơn mua bán, tem mác sản phẩm như trạng thái ban đầu.
            <br />
            <br />
            Hàng hóa phải còn nguyên tem, nguyên hộp. Không bị vỡ, sứt, méo mó biến dạng. Không bị
            <br />
            <br />
            chập cháy nổi, thiên tai gây ra.
            <br />
            <br />
            2. Trả lại hàng:
            <br />
            <br />
            Phượt Bụi Store chúng tôi cam kết nhận lại hàng, nếu hàng bán ra không đúng theo báo giá trên website của chúng tôi.
        </div>
    </div>
</div>

