
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<div class="container_fullwidth">
    <div class="container">
        <img src="~/Assets/Images/SLIDERR5.png" />
        <p><h4 style="font-weight: 800">PHƯỢT BỤI STORE – ĐỒ PHƯỢT GIÁ TỐT</h4></p>
        <div style="font-size: 16px; font-family: Helvetica; line-height:20px">
            Cửa hàng chuyển cung cấp các mặt hàng đồ phượt, đồ du lịch, đồ bảo hộ xe máy với hơn 5 năm kinh nghiệm trên thị trường shop Phượt Bụi Store luôn là sự lựa chọn hàng đầu đối với các phượt thủ chuyên nghiệp.
            <br />
            <br />
            Cửa hàng bán buôn bán lẻ hơn 100 mặt hàng khác nhau, phân phối bán buôn bán lẻ toàn quốc uy tín và trách nhiệm
            <br />
            <br />
            Địa chỉ: Số 6 ngõ 15 Vương Thừa Vũ, Thanh Xuân, Hà Nội
            <br />
            <br />
            Hotline: 0963069400 – 0972069410
        </div>
        <div style="height: 30px"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2596.057302746133!2d105.82215974796206!3d21.0014205235295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x366ce54ccc5ad338!2zUGjGsOG7o3QgQuG7pWkgU3RvcmUgLSBM4buBdSBD4bqvbSBUcuG6oWkgLSBNxakgQuG6o28gSGnhu4Nt!5e0!3m2!1svi!2s!4v1669894615133!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div style="height: 50px"></div>
    </div>
</div>

