
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<div class="container_fullwidth">
    <div class="container">
        <div style="display: flex; justify-content: center">
            <div style="text-align: center">
                <h5 style="font-weight: 800">CHƯƠNG TRÌNH TÍCH ĐIỂM GIẢM GIÁ 10%</h5>
                <img src="~/Assets/Images/tichdiem.jpg" style="width: 400px" />
            </div>
        </div>
        <div style="font-size: 16px; font-family: Helvetica; line-height:20px">
            <br />
            Nội dung: Giảm 5- 10% giá trị đơn hàng sau khi đã từng mua được 1tr: (1tr đầu thanh toán theo giá gốc) sau 1tr giảm 5-10% giá trị đơn hàng theo tưng sản phẩm áp dụng trọn đời. Chương trình tích điểm áp dụng trên tất cả các cơ sở của shop và theo các điêu khoản sau.
            <br />
            <br />
            Điều 1: Những sản phẩm có giá dưới 800k giảm 10%, sản phẩm từ 800k giảm 5% theo chương trình tích điểm.
            <br />
            <br />
            Điều 2: Khách lần đầu mua hàng và mua những sản phẩm có giá trên 1tr thì sản phẩm đầu tiên tính theo giá gốc,giảm giá tính từ sản phẩm thứ 2 trở đi.
            <br />
            <br />
            Điều 3: Khách đã từng mua hàng nhưng chưa tích đủ 1tr, cộng thêm giá trị đơn hàng này vào thì áp dụng khuyến mại sau 1tr.
            <br />
            <br />
            Chương trình tích điểm dựa theo số điện thoại của khách hàng sau khi hoàn thành các đơn hàng, không phân biệt người mua hàng, chỉ cần đúng số điện thoại là được.
        </div>
    </div>
</div>